:root {
  --popupWidth: 552px;
}

.popup-wrapper {
  position: absolute;
  display: flex;

  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;

  width: 100vw;
  min-height: 100vh;

  background: #B3B3B3;
  
  overflow-y: auto;
}

.popup {
  position: relative;
  background: #FFFFFF;
  border-radius: 30px;
  width: var(--popupWidth);

  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  padding: 32px;
}

.popup__textbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 16px;
  margin-bottom: 24px;
}

.popup__inputbox {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: 24px;
}

.popup__radiobox {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 32px;
  margin-bottom: 40px;
}

.popup__radiobutton-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}

.popup__close-button {
  position: absolute;
  top: 27px;
  left: calc(var(--popupWidth) - 27px - 18px);
}

.popup__checkbox-group {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  margin-bottom: 20px;
}

.popup__separate-line {
  background: #DFE3E6;
  height: 1px;
  width: 100%;
}

@media (max-width: 768px) {
  .popup {
    --popupWidth: 468px;
  }
}


@media (max-width: 420px) {
  .popup {
    --popupWidth: 100%;
    border-radius: 0;
  }
}