@font-face {
  font-family: LabGrotesque;
  src: url(Assets/LabGrotesque-Medium.ttf);
}

@font-face {
  font-family: LabGrotesqueThin;
  src: url(Assets/LabGrotesque-Thin.ttf);
}

body {
  margin: 0;
  font-family: LabGrotesque;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
